.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 0px solid $purple;
  background-color: $purple;
  background: #8b99b6;
  border-radius: 4px;

  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s, --primary 0.36s, --secondary 0.36s;
  margin: 0;
  height: 50px;
  width: 100%;
}

/* Ripple effect */
.button {
  background-position: center;
  transition: background 0.8s;
}
.button:hover {
  background: $purple radial-gradient(circle, transparent 1%, $purple 1%) center/15000%;
  --secondary: $purple;
  // background: linear-gradient(to right, $purple 0%, $orange 100%);
  background-color: $purple;
  border-color: $purple;
}
.button:active {
  background-color: $purple-15;
  background-size: 100%;
  transition: background 0s;
}

.button:focus {
  outline: none;
}

.button--inverse {
  --secondary: $orange;
  background: transparent;
  border: 1px solid $orange;
  border-color: $purple;
  color: $purple;
}


.button--inverse:hover {
  background: $orange radial-gradient(circle, transparent 1%, $orange 1%) center/15000%;
  --secondary: $orange;
  // background: linear-gradient(to right, $orange 0%, $orange 100%);
  background-color: $orange;
  border-color: $orange;
  color: #fff;
}
.button--inverse:active {
  background-color: $orange-15;
  background-size: 100%;
  transition: background 0s;
  color: #fff;
}

.button--danger {
  background: #ffb199;
  border-color: #ffb199;
}

.button--danger:hover,
.button--danger:active {
  background: #ff0844;
  border-color: #ff0844;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
  padding: 0 0.5rem;
  margin: 0;
  height: 30px;
  width: 100px;
}

.button--big {
  font-size: 1.5rem;
}

.mt-2 {
  margin-top: 20px;
}
